* {
margin: 0;
padding: 0;
font-family: "Verdana", "ＭＳ Ｐゴシック" !important;
}

html{
  scrollbar-base-color: #b785b7;
  scrollbar-track-color: #000000;
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #b785b7;
  scrollbar-darkshadow-color: #000000;
  scrollbar-highlight-color: #b785b7;
  scrollbar-3dlight-color: #000000;
  scrollbar-arrow-color: #b785b7;

}

body {
margin: 0px;
padding: 0px;
background-attachment:fixed;
background-image:url(http://img-cdn.jg.jugem.jp/4fc/739933/20080426_194298.gif);
background-color:#b785b7;
}

.sideblock {
margin:0 0 0 -15px;
}

.sideblock_s {
margin:0 0 0 -5px;
}

.clear {
clear: both;
font: 0px/0px sans-serif ;
}


#layout {
margin: 0 auto;
width: 700px;
text-align: left;
}

#header {
	margin: 0 !important;
	position: relative !important;
	height: 70px;
	width: 100%;
	padding: 20 10 !important;
	background-color: #000;
}

.site_title {
margin: 5px 10px 1px 10px;
font-size: 16px;
padding-top: 13px;
padding-left: 10px;
font-weight: bolder;
color: #FFF;
}

.description {
	display: inline-block;
margin: 1px 0px 0px 10px;
padding-left: 10px;
font-size: 10px;
	color: #ffffff;
}

#banner {
	position: absolute !important;
	font-size: 10px !important;
	color: #ffffff !important;
	width: 250px;
	margin-top: -40px !important;
	margin-left: 430px !important;
	padding: 0 !important;
}


#r_plus {
background-image: url("http://jak.jp/blog/pt/plus_bg.png");
background-repeat:repeat-y;
position: absolute;
width: 187px;
height: 665px;
top: 85px;
left: 50%;
margin-left: 351px;
overflow: hidden;
}

#r_plushd {
background-image: url("http://jak.jp/blog/pt/plus_hd.png");
width: 187px;
height: 123px;
}

#r_plusft {
background-image: url("http://jak.jp/blog/pt/plus_ft.png");
margin-top: 419px;
width: 187px;
height: 123px;
}

#r_plusc {
position: absolute;
width: 187px;
top: 85px;
left: 50%;
margin-left: 351px;
padding: 24px 0 0 5px;
line-height: 120%;
font-size: 10px;
}

#contents #center {
	position: relative;
width: 520px;
margin: 0 !important;
}

#contents #center .pad {
float: left;
padding : 0 0 0 10px;
margin: 0 !important;
}

#contents #right {
	position: absolute;
	right: 0;
width: 150px;
margin-right:-180px;
margin-left:0px;
}

#footer {
clear: both;
}


h3 {
margin: 0px;
padding: 0px;
}

form {
margin: 0px;
padding: 0px;
}

ul {
margin: 10px 0px 0px 10px;
padding: 0px;
list-style-type: square;
}

li {
margin: 0px 0px 0px 0px;
padding: 0px;
}

div, td {
margin: 0px;
padding: 0px;
font-family: "Verdana", "ＭＳ Ｐゴシック";
line-height: 150%;
}


.form_color {
	background: #ECECEC;
}

a:link {color:#b785b7; text-decoration:none;}
a:visited {color:#b785b7; text-decoration:none;}
a:active {color:#b785b7; text-decoration:none;}
a:hover {color:#b785b7; background:#000000; text-decoration:none;}


.site_title a {color: #FFF; text-decoration: none; background:transparent;}
.site_title a:link {color: #FFF; text-decoration: none; background:transparent;}
.site_title a:visited {color: #FFF; text-decoration: none; background:transparent;}
.site_title a:active {color: #FFF; text-decoration: none; background:transparent;}
.site_title a:hover {color: #b785b7; text-decoration: none; background:transparent;}



#title {
background-color: #000;
width:700px;
height: 50px;
padding: 0;
margin:auto;
border: none !important;
}

#body {
background-color: #FFF;
width:700px;
padding: 0px 0px;
margin: auto;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
}







.entry_navi {
text-align: center;
font-size: 11px;
padding: 4px 0px 2px 0px;
background: #ffffff;
margin-bottom :30px;
}

.entry {
font-family: "Verdana", "ＭＳ Ｐゴシック";
margin: 15px 10px 30px 10px;
padding: 0px 5px 5px 0px;
}

.entry_date {
font-size: 10px;
color: #b785b7;
margin: 0px 0px 10px 0px;
padding-bottom: 1px;
border-top: 1px dotted #000;
}

.entry_title {
font-size: 13px;
line-height:120%;
font-weight: bolder;
color: #b785b7;
border-left: 5px solid #000;
margin: 15px 0px 15px 0px;
padding: 0px 0px 0px 3px;
width: 500px !important;
}

.entry_body {
font-size: 10px;
line-height: 150%;
color: #333;
margin: 10px 30px 10px 10px;
padding: 0px 0px 0px 0px;
}

.entry_author {
font-size: 10px;
font-weight: normal;
text-align:right;
color: #666666;
margin: -25px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.entry_more {
font-size: 10px;
line-height: 150%;
color: #333;
margin: 15px 30px 0px 10px;
padding: 0px 0px 0px 0px;
}

.entry_state {
font-size: 10px;
color: #666;
margin: 0px 0px 30px 0px;
padding: 0px 5px 0px 5px;
text-align: right;
}


blockquote {
font-size: 10px;
color: #b785b7;
margin: 10px 10px 20px 10px;
padding: 10px;
border-left: 5px solid #000;
background-color:#ffeeee;
}


.comment_title {
font-size: 12px;
line-height:120%;
font-weight: bolder;
color: #b785b7;
border-left: 5px solid #000;
margin: 10px 0px 15px 0px;
padding: 0px 0px 0px 5px;
}

.comment_author {
font-size: 10px;
font-weight: normal;
text-align:left;
color: #666666;
margin: 5px 0px 25px 0px;
padding: 0px 0px 3px 0px;
border-bottom: 1px solid #666;
}


.trackback {
margin: 20px 25px 30px 35px;
padding: 0px 5px 5px 0px;
}

.trackback_title {
font-size: 12px;
line-height:120%;
font-weight: bolder;
color: #b785b7;
border-left: 5px solid #000;
margin: 15px 0px 15px 0px;
padding: 0px 0px 0px 5px;
}


.pict {
border-width: 1px;
border-style: solid;
border-color: #000;
}

.amazon_pict{
border-width: 1px;
border-style: solid;
border-color: #000;
margin: 1px 10px 5px 0px;
width:120px;
}


.page {
padding:10px 30px;
text-align: center;
font-size: 10px;
border-top: 1px dotted #000;
}


.linktitle {
font-family: verdana, arial, sans-serif;
font-size: 12px;
font-weight: bold;
color: #b785b7;
line-height: 100%;
margin: 15px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.linktext {
font-size: 10px;
color: #333;
line-height: 150%;
margin: 1px 0px 5px 0px;
padding: 5px;
}

.search {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.button {
	margin: 5px 0 0 0;
}

.copyright {
font-size: 10px;
color: #333333;
line-height: 170%;
border-top: 1px dotted #000;
margin: 5px 0px 0px 0px;
padding-top: 10px;
}

.calendar {
text-align: center;
font-size: 10px;
padding: 5px 0px 5px 0px;
border-bottom: 1px dotted #000;
}


hr{
height:0px;
border:0px;
border-bottom:1px dashed #000;
}

ul.tree {
line-height: 170%;
}

.proftitle {
margin: 15px 0 7px;
line-height: 100%;
font-size: 3;
font-weight: bold;
font-family: verdana;
color: #6f6476;
}

.profile {
line-height: 120%;
font-size: 10px;
}

.profbn {
line-height: 20%;
margin: 7px 0 10px 2px;
}

.profcat {
font-family: verdana;
font-size: 12px;
font-weight: bold;
color: #b785b7;
line-height: 100%;
margin: 12px 0 5px 0;
}


.td1{background-attachment:fixed;
background-image:url(http://img-cdn.jg.jugem.jp/4fc/739933/20071229_1605.gif);
background-position:left top;background-repeat:repeat-y;}

.td2{background-attachment:fixed;
background-image:url(http://img-cdn.jg.jugem.jp/4fc/739933/20071229_1605.gif);
background-position:right top;background-repeat:repeat-y;}

.amazon_pict{
margin: 1px 10px 5px 0px;
width:110px;
}


input{
color:#000000;
background:#ffffff;
border:solid 1px #999999 ;
}
.jugem_bana{
	margin: 20px 1px 10px 0px;
}
