@charset "utf-8";


	/*　レアちゃん作　*/


/* ■--- All ---■ */

/*  アンチエイリアス  */

#Bg .helpCover .inner,
.speaked,
.frase,
.characters .inner,
.favorite,
.recommend {
	transform: rotate(0.001deg);
}


/* ■--- Bg ---■ */

#Bg {
	background: url(../img/bgCover15p.png) #F5F4F5;
}

#Bg .area {
	width: 100%;
	height: 715px;
	background-color: #000;
	overflow: hidden;
}

#Bg .area_inner {
	display: none; /*js自動調整*/
	position: relative;
	width: auto;
	max-width: 963px;
	height: inherit;
	margin: 0 auto;
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/bg.png) center bottom / cover no-repeat;
}

#Bg.type_score .area_inner,
#Bg.type_scoreIIDX .area_inner,
#Bg.type_fullcombo .area_inner,
#Bg.type_alljustice .area_inner,
#Bg.type_alljusticeC .area_inner,
#Bg.type_favorite .area_inner,
#Bg.type_recommend .area_inner {
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/score_bg.png) center 196px no-repeat,
	url(img/bg.png) center bottom / cover no-repeat;
}

#Bg.type_scoreWE .area_inner {
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/scoreWE_bg.png) center 196px no-repeat,
	url(img/bg.png) center bottom / cover no-repeat;
}

#Bg.type_scoreIIDX .area_inner {
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/score_bg.png) center 263px no-repeat,
	url(img/bg.png) center bottom / cover no-repeat;
}

#Bg.type_character .area_inner {
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/chara_bg.png) center 199px no-repeat,
	url(img/bg.png) center bottom / cover no-repeat;
}

#Bg iframe {
	visibility: hidden; /*js自動調整*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 715px;
	z-index: 3;
}

/*  ヘルプアイコン  */

#Bg .helpIcon {
	display: none; /*js自動調整*/
	transition:
		200ms filter,
		200ms -webkit-filter,
		200ms -mox-filter;
	position: absolute;
	top: 10px;
	right: -39px;
	width: 28px;
	height: 27px;
	background: url(img/helpIcon.png) top left no-repeat;
	z-index: 4;
	cursor: pointer;
}

#Bg .helpIcon.blackOut {
	transition:
		200ms filter,
		200ms -webkit-filter,
		200ms -mox-filter;
	filter: brightness(50%);
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	cursor: default;
}

/*  ヘルプカバー  */

#Bg .helpCover {
	display: none; /*js自動調整*/
	position: absolute;
	width: 100%;
	height: 100%;
	background: 
	url(../img/bgDot_right.png) left top repeat-y,
	url(../img/bgDot_left.png) right top repeat-y,
	url(img/helpCover_bg.png) -40px 68px no-repeat rgba(0,0,0,0.5);
	overflow: hidden;
	z-index: 4;
}

/*  ヘルプ  */

#Bg .helpCover .inner {
	margin-top: 152px;
	margin-left: 160px;
	padding: 0 18px;
	width: 810px;
	height: 399px;
	font-size: 19px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#Bg .helpCover .close {
	position: absolute;
	width: 29px;
	height: 29px;
	top: 115px;
	right: 116px;
	background: url(img/help_close.png) left top no-repeat;
	cursor: pointer;
}

#Bg .helpCover .inner img {
	margin-top: 20px;
	margin-bottom: 8px;
}


/* ■--- Main ---■ */

#Main {
	background-color: transparent;
}

#Main .area {
	width: 100%;
	height: 715px;
	background-color: transparent;
	overflow: hidden;
}

#Main .area_inner {
	position: relative;
	width: auto;
	max-width: 963px;
	height: inherit;
	margin: 0 auto;
	background-color: transparent;
}


/* ■--- All ---■ */

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: transparent;
	color: #E5E3EC;
	font-size: 14px;
	font-family: MP2p;
	font-weight: 400;
	line-height: 1.6;
	overflow: hidden;
}

p { margin: 0; }

/*  キーワード  */

b { color: #75FFF6; font-weight: 500; }

span.charaname{ color: #FDDCFA; font-weight: 500; }
span.item { color: #FDDCFA; font-weight: 500; }
span.song, .favorite ul, .recommend ul { color: #FDDCFA; font-weight: 500; }
span.song.BAS { color: #34DA03; }
span.song.ADV { color: #FFAC00; }
span.song.EXP { color: #DF1555; }
span.song.MAS { color: #B350FF; }
span.song.WE { color: #FFE3F8; }

span.keyword { color: #F3ADFF; }

/*  ふち取り  */

p,
.speaked,
.characters table,
.favorite ul,
.recommend ul {
	text-shadow: 1px 1px #190D23, -1px 1px #190D23, 1px -1px #190D23, -1px -1px #190D23;
}

.score table,
.characters table td.rank {
	text-shadow: 
	2px 0px #000, 0px 2px #000, -2px 0px #000, 0px -2px #000, /*上下左右*/
	2px 2px #000, -2px 2px #000, -2px -2px #000, 2px -2px #000, /*斜め*/
	1px -2px #000, 2px 1px #000, -1px 2px #000, -2px -1px #000, /*時計隙間埋め*/
	-1px -2px #000, 2px -1px #000, 1px 2px #000, -2px 1px #000; /*半時計隙間埋め*/
}

/*  ParticleJS  */

canvas {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*  スクロールマーク  */

.scrollMark {
	display: none; /*js自動調整*/
	position: absolute;
	bottom: 15px;
	right: 20px;
	width: 25px;
	height: 30px;
	background: url(img/scrollMark_gray.png) left top no-repeat;
	z-index: 4;
	animation: swing 0.8s ease infinite alternate;
	-webkit-animation: swing 0.8s ease infinite alternate;
	-moz-animation: swing 0.8s ease infinite alternate;
}

.type_character .scrollMark {
	bottom: 120px;
	right: 30px;
	background: url(img/scrollMark_white.png) left top no-repeat;
	animation: swingChara 0.8s ease infinite alternate;
	-webkit-animation: swingChara 0.8s ease infinite alternate;
	-moz-animation: swingChara 0.8s ease infinite alternate;
}

.helpCover .scrollMark {
	bottom: 165px;
	right: 110px;
	background: url(img/scrollMark_white.png) left top no-repeat;
	animation: swingHelp 0.8s ease infinite alternate;
	-webkit-animation: swingHelp 0.8s ease infinite alternate;
	-moz-animation: swingHelp 0.8s ease infinite alternate;
}

@keyframes swing			{ 0% { bottom: 15px; } 100% { bottom: 25px; } }
@-webkit-keyframes swing	{ 0% { bottom: 15px; } 100% { bottom: 25px; } }
@-moz-keyframes swing		{ 0% { bottom: 15px; } 100% { bottom: 25px; } }

@keyframes swingChara				{ 0% { bottom: 120px; } 100% { bottom: 130px; } }
@-webkit-keyframes swingChara	{ 0% { bottom: 120px; } 100% { bottom: 130px; } }
@-moz-keyframes swingChara		{ 0% { bottom: 120px; } 100% { bottom: 130px; } }

@keyframes swingHelp				{ 0% { bottom: 165px; } 100% { bottom: 175px; } }
@-webkit-keyframes swingHelp		{ 0% { bottom: 165px; } 100% { bottom: 175px; } }
@-moz-keyframes swingHelp		{ 0% { bottom: 165px; } 100% { bottom: 175px; } }


/*  キャラ  */

.chara,
.chara_fog {
	display: none; /*js自動調整*/
	position: absolute;
	top: -25px;
	left: -106px;
	width: 716px;
	height: 945px;
	background: top left no-repeat;
}

.chara_fog {
	background-image: url(img/eclair_fog.png);
	z-index: 1;
}

.chara {
	background-image: url(img/eclair.png);
	transition:
		600ms filter,
		600ms -webkit-filter,
		600ms -mox-filter;
	z-index: 2;
}

.chara.blackOut {
	transition: 600ms;
	filter: brightness(0%);
	-webkit-filter: brightness(0);
	-moz-filter: brightness(0);
}

/*  レーティング  */

.rating {
	position: absolute;
	top: 9px;
	left: 29px;
	width: 78px;
	height: 46px;
	padding-top: 8px;
	background: url(img/rating_bg.png) top left no-repeat;
	color: #999CAF;
	/*color: #D26F5F;*/
	font-size: 24px;
	font-family: '04b03b';
}

/*  フォーム  */

.form {
	position: absolute;
	left: -200px;
	bottom: 0;
	width: 1400px;
	height: 60px;
	background: url(img/formInput_bg.png) top left repeat-x;
	z-index: 5;
}

input[type="text"] {
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 847px;
	height: 58px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #E5E3EC;
	font-size: 20px;
	font-family: 'MPS10';
	text-align: right;
}

input::-webkit-input-placeholder { color: #B39CBD; }
input::-moz-placeholder { color: #B39CBD; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }

input[type="submit"] {
	position: absolute;
	right: 237px;
	bottom: 1px;
	width: 97px;
	height: 58px;
	padding-right: 23px;
	border: none;
	outline: none;
	background: url(../img/bgDot_left.png) right 5px repeat-y #A036CB;
	color: #E5E3EC;
	font-size: 20px;
	font-family: 'MPS10';
	cursor: pointer;
}

input[type="submit"]:hover { background-color: #CA41FF; }

/*  スピーク･アンサー共通  */

.speaked,
.answer {
	position: absolute;
	left: 452px;
	width: 458px;
	box-sizing: border-box;
	border-radius: 7px;
	background-color: rgba(0,0,0,0.6);
	z-index: 6;
}

/*  スピーク  */

.speaked {
	top: 25px;
	padding: 15px 30px;
	height: 52px;
}

.speaked:before {
	position: absolute;
	display: block;
	content: '';
	top: 20px;
	right: -22px;
	width: 22px;
	height: 17px;
	background: url(img/speaked_mark.png) top left no-repeat;
}

.type_default .speaked,
.type_empty .speaked { display: none; }

/*  アンサー  */

.answerMark {
	position: absolute;
	display: block;
	content: '';
	top: 119px;
	left: 430px;
	width: 22px;
	height: 17px;
	background: url(img/answer_mark.png) top left no-repeat;
}

.answer {
	top: 93px;
	max-height: 530px;
	padding: 24px 0;
	box-sizing: border-box;
	overflow: hidden;
}

.answer.plus {
	top: 413px;
	max-height: 220px;
}

.answer.recent {
	top: 438px;
}

.answer .inner {
	width: 550px;
	padding: 0 30px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.answer .inner .youtube {
	margin-top: 24px;
	margin-bottom: 24px;
	width: 400px;
	height: 250px;
}

.answer.main .inner { height: auto; }	/*js自動調整*/
.answer.plus .inner { height: auto; }	/*js自動調整*/

.answer a { color: #E5E3EC; text-decoration: underline; }

.type_score .answer.main,
.type_scoreWE .answer.main { max-height: 92px; }

.type_scoreWE .answer.plus { 
top: 447px; 
max-height: 183px;
}

.type_default .answer.main { top: 50px; max-height: 550px;}
.type_empty .answer.main { top: 83px; }

.type_default .answerMark { top: 99px; }
.type_empty .answerMark { top: 109px; }

/*  スコア  */

.score {
	position: absolute;
	top: 203px;
	left: 452px;
	width: 458px;
	height: 192px;
	z-index: 5;
}

.type_scoreIIDX .score { top: 270px; }

.score table {
	margin-top: 29px;
	margin-left: 65px;
	font-size: 24px;
	font-family: '04b03b';
	line-height: 1.4;
	text-align: left;
}

.score table th {
	width: 133px;
	font-family: '04b24';
}

.score table td { text-align: right; }

.score table tr:nth-child(1) th { color: #34DA03; } /*BASIC*/
.score table tr:nth-child(2) th { color: #FFAC00; } /*ADVANCED*/
.score table tr:nth-child(3) th { color: #DA0046; } /*EXPERT*/
.score table tr:nth-child(4) th { color: #AC40FD; } /*MASTER*/

/*WORLD'S END*/
.score table tr:nth-child(5) th .WEcolor1 { color: #34DA03; }
.score table tr:nth-child(5) th .WEcolor2 { color: #A5C001; }
.score table tr:nth-child(5) th .WEcolor3 { color: #FFAC00; }
.score table tr:nth-child(5) th .WEcolor4 { color: #F67A11; }
.score table tr:nth-child(5) th .WEcolor5 { color: #E73F2C; }
.score table tr:nth-child(5) th .WEcolor6 { color: #DF173B; }
.score table tr:nth-child(5) th .WEcolor7 { color: #DA0046; }
.score table tr:nth-child(5) th .WEcolor8 { color: #CE1073; }
.score table tr:nth-child(5) th .WEcolor9 { color: #BE25B2; }
.score table tr:nth-child(5) th .WEcolor10 { color: #AC40FD; }

/*  クリアマーク  */

.score table tr .mark { text-align: left; }

.score table tr .mark:before,
.score table tr .mark:after {
	padding-left: 6px;
	color: #EBCBF3;
	font-size: 20px;
}

.score table tr .mark:before { margin-left: 15px; }
.score table tr.a .mark:before { content: 'A'; }
.score table tr.aa .mark:before { content: 'AA'; }
.score table tr.aaa .mark:before { content: 'AAA'; }
.score table tr.s .mark:before { content: 'S'; }
.score table tr.ss .mark:before { content: 'SS'; }
.score table tr.sss .mark:before { content: 'SSS'; }

.score table tr .mark:after { margin-left: 8px; }
.score table tr.fc .mark:after { content: 'FC'; }
.score table tr.aj .mark:after { content: 'AJ'; }
.score table tr.ajc .mark:after { content: 'AJC'; }

.type_scoreIIDX .score table tr .mark:after { margin-left: 15px; }
.type_scoreIIDX .score table tr.clear .mark:after { content: 'CLEAR'; }
.type_scoreIIDX .score table tr.exh .mark:after { content: 'EX-HARD'; }
.type_scoreIIDX .score table tr.fc .mark:after { content: 'FULLCOMBO'; }

/*  FC･AJ数  */

.score.fullcombo table  { margin-left: 105px; }
.score.fullcombo table th { width: 130px; }

/*  キャラリスト  */

.characters  {
	position: absolute;
	top: 203px;
	left: 452px;
	width: 458px;
	height: 420px;
	overflow: hidden;
	z-index: 5;
}

.characters .inner  {
	margin-top: 29px;
	margin-left: 20px;
	width: 500px;
	height: 360px;
	overflow-y: scroll;
	z-index: 5;
}

.characters table {
	width: 440px;
	padding-left: 0.5em;
	font-size: 1.3em;
	text-align: left;
}

.characters table:not(:first-child) { margin-top: 20px; }

.characters table tr,
.characters table th,
.characters table td {
	padding-top: 6px;
	line-height: 1.5;
}

.characters table tr {
	border-bottom: 1px dotted #9C76AC;
}

/*  キャラ名  */

.characters table th {
	padding-left: 18px;
	font-weight: 500;
}

.characters table.platinum th { color: #FFF9E3; }
.characters table.gold th { color: #F1EDD6; }
.characters table.silver th { color: #D8EEF3; }
.characters table.bronze th { color: #DFDEE7; }

/*  ランク  */

.characters table td.rank {
	width: 27px;
	font-size: 24px;
	line-height: 1em;
	font-family: '04b03b';
	text-align: right;
}

.characters table.platinum td.rank { color: #FFEAC5; }
.characters table.gold td.rank { color: #FFDA49; }
.characters table.silver td.rank { color: #7CF2FA; }
.characters table.bronze td.rank { color: #; }

/*  スキル  */

.characters table td.skill {
	font-size: 8px;
	text-align: right;
	font-weight: 500;
}

/*  お気に入り･おすすめ  */

.favorite,
.recommend {
	position: absolute;
	top: 203px;
	left: 452px;
	width: 458px;
	height: 192px;
	padding-top: 28px;
	padding-left: 60px;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 5;
}

.favorite ul,
.recommend ul {
	width: 500px;
	height: 135px;
	font-size: 18px;
	font-weight: 500;
	overflow-y: scroll;
}
